#app{
    padding: 0 0.8rem;
}
a{
    margin-top: 10px;
}
.weui-cells{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: aliceblue;
    margin-top: 10px;
}
.header{
    height: 2.5rem;
    z-index: 10;
}
